.source-type {
    border-radius: 4px;
    border: 1px solid #F2F2F2;
}

// nav 
.src-nav {
    padding: 20px;
    position: fixed;
    width: -webkit-fill-available;
    margin-top: -31px;
    z-index: 1;
    background-color: #ffffff;
}

.bck {
    position: absolute;
}

.back-func {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0A0A15;
    display: inline-flex;
}

.navbar-light {
    border-bottom: 1px solid #eee;
}
//

.mr-t-35 {
    margin-top: 35px;
}

.local-file {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1E1F3E;
}