.fsw {
    font-size: 18px;
    font-weight: 600;
}

.pass {
    font-size: 22px;
    font-weight: 600;
    color: #00977C;
}

.fail {
    font-size: 22px;
    font-weight: 600;
    color: red;
}

.fs-16 {
    font-size: 16px;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}