<div class="page-header1 pd-l-20">
    <ol class="breadcrumb breadcrumb-top">
        <!-- <li class="breadcrumb-item">Dataset</li> -->
        <li class="breadcrumb-item active" aria-current="page">Rules</li>
    </ol>
</div>

<div class="page-content pd-20">
    <ng-container>
        <div class="connect-source-div">
            <div class="card card-d mr-t-16">
                <div class="card-body">
                    <div class="connect-s text-center">
                        <p class="tp1 fs-26">Rule</p>
                        <img src="/assets/img/data-profile/no-datasets.svg" class="img-fluid">
                        <!-- <p class="tp1 mr-b-0 wm">Set business related rules for your dataset.</p> -->
                        <p class="tp1 mr-b-24 mr-t-40">There is no Data Quality Rule created. Please create one.</p>
                        <a [routerLink]="['/projects', 'projectId', 'ingest', 'select-source-type']"
                            class="btn btn-design mr-b-56">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="dataQualityList?.length > 0; else noDataQualityRules">
        <div class="card card-d">
            <div class="card-header ch pd-b-0">
                <div class="di mr-t-6">
                    <p class="card-main-text">Data Quality Rule</p>
                    <p></p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-design" [routerLink]="['./create']">Create rule</button>
                </div>
                <div>
                    <p class="view-list pull-right cp mr-b-0">
                        <span (click)="viewRunning()">View running rules</span>
                    </p>
                </div>
                <!-- <div class="row align-item">
                    <div class="col-9">
                        <div class="di mr-t-6">
                            <p class="card-main-text">Data Quality</p>
                            <p class="p1 mr-b-0">Set Data Quality rules to datasets, To set click on create</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-design btn-dq-create" [routerLink]="['./create']">Create</a>
                    </div>
                </div> -->
            </div>
            <div class="card-body pd-0">
                <div class="table-responsive br-r">
                    <table class="table m-0 table-fixed table-striped">
                        <thead class="thead-light">
                            <tr class="fixed-th">
                                <th class="pd-l-24"><label class="mr-b-0">
                                    <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="selectRuleAll($event)"></label>
                                </th>
                                <th class="pd-l-24">Rule name</th>
                                <th class="pd-l-24">Rule type</th>
                                <th class="pd-l-24">Created by</th>
                                <th class="pd-l-24">Created date</th>
                                <th class="pd-l-24">Modified date</th>
                                <th class="pd-l-24">Status</th>
                                <th class="float-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="td-text" *ngFor="let dataQuality of dataQualityList">
                                <td class="pt-2"> <label>
                                    <input type="checkbox" [(ngModel)]="dataQuality.selected" (change)="selectRule($event, dataQuality)">
                                </label></td>
                                <td class="fn">{{dataQuality?.ruleName }}</td>
                                <td class="cp">{{dataQuality?.ruleType}}</td>
                                <td class="cp">{{dataQuality?.createdBy}}</td>
                                <td class="cp">{{dataQuality?.createdDate | date: 'dd-MM-yy, hh:mm a'}}</td>
                                <td class="cp">{{dataQuality?.modifiedDate | date: 'dd-MM-yy, hh:mm a'}}</td>
                                <td class="cp">{{(dataQuality?.status)}}</td>

                                <td class="float-right">
                                    <div ngbDropdown container="body">
                                        <a ngbDropdownToggle class="menu-icon">
                                            <img src="assets/img/project-stats/menu.svg" class="default-img">
                                            <img src="assets/img/pipline/hover-menu.svg" class="hover-img">
                                        </a>

                                        <div ngbDropdownMenu class="dr-m">
                                            <button ngbDropdownItem class="h-37" (click)="edit(dataQuality);">Edit</button>
                                            <button ngbDropdownItem class="h-37">View</button>
                                            <button ngbDropdownItem class="h-37">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="(dataQualityList)?.length > 10"
                                style="background-color: white !important;" class="pg-tr">
                                <td colspan="8" class="pg-pd">
                                    <div class="text-center">
                                        <ngb-pagination [collectionSize]="dataQualityList?.length" [(page)]="page"
                                            [pageSize]="pageSize" [maxSize]="5" [rotate]="true"
                                            aria-label="Custom pagination" (pageChange)="onPageChange($event)">
                                            <ng-template ngbPaginationPrevious>
                                                <span class="btn nextBtn">
                                                    <img src="assets/img/govern/arrow-left.svg">Previous
                                                </span></ng-template>
                                            <ng-template ngbPaginationNext><span class="btn nextBtn">
                                                    Next <img src="assets/img/govern/arrow-right.svg">
                                                </span></ng-template>
                                        </ngb-pagination>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="btn-div text-center">
            <button class="btn btn-design" [disabled]="!anyCheckboxSelected" (click)="runRule()">Run rule</button>
        </div>
    </ng-container>
    <ng-template #noDataQualityRules>
        <div class="connect-source-div">
            <div class="card card-d mr-t-16">
                <div class="card-body">
                    <div class="connect-s text-center">
                        <img src="assets/img/govern/no-dq.svg" class="img-fluid">
                        <p class="tp1 mr-b-0 wm">Set business related rules for your dataset.</p>
                        <p class="tp1 mr-b-24">There is no Data Quality Rule created. Please create one.</p>
                        <a [routerLink]="['/projects', 'projectId', 'ingest', 'select-source-type']"
                            class="btn btn-design mr-b-56">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>