<div class="page-header1 pd-l-20">
    <ol class="breadcrumb breadcrumb-top pd-l-0">
        <li class="breadcrumb-item">Dataset</li>
        <li class="breadcrumb-item active" aria-current="page">AWS</li>
    </ol>
</div>
<div class="page-content pd-20">
    <ng-container *ngIf="awsListData.length > 0">
        <div class="card card-d">
            <div class="card-header ch pd-16">
                <div class="di mr-t-6" *ngIf="!searchDiv">
                    <p class="card-main-text">AWS</p>
                    <!-- <p class="p1 mr-b-0">Folders have same metadata dataset. To create new folder, go to import dataset.</p> -->
                </div>
                <!-- <div class="di" *ngIf="searchDiv">
                    <p class="card-main-text">Search result</p>
                </div>
                <div class="pull-right">
                    <div class="input-group br-bx-a">
                        <div class="input-group-prepend h36">
                            <span class="input-group-text search-icon br-bx-n" id="basic-addon1">
                                <img src="assets/img/govern/search.svg">
                            </span>
                        </div>
                        <input type="text" id="searchTerm" [(ngModel)]="searchTerm.name" class="form-control search-input br-bx-n h36"
                            placeholder="Search folder name" aria-label="Username" aria-describedby="basic-addon1"
                            (ngModelChange)="searchInput($event)">
                    </div>

                </div> -->
            </div>
            <div class="card-body pd-0">
                <div class="table-responsive br-r">
                    <table class="table m-0 table-fixed table-striped">
                        <thead class="thead-light">
                            <tr class="fixed-th">
                                <th class="pd-l-24">Data source name
                                    <span> <img class="cp"
                                            src="assets/img/govern/down-arrow.svg"></span>
                                </th>
                                <th class="pd-l-24">Access type</th>
                                <th class="pd-l-24">IAM role</th>
                                <th class="pd-l-24">Created date</th>
                                <th class="pd-l-24">Modified date</th>
                                <th class="pd-l-24">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="td-text" *ngFor="let aws of awsListData | filterBy: searchTerm">
                                <td class="fn">
                                    <span><img src="assets/img/project-stats/folder-i.svg"></span>
                                    {{ aws?.name }}</td>
                                <td >{{aws.access_type}}</td>
                                <td >{{aws.iam_role}}</td>
                                <td >
                                    {{aws?.createdDate | date: 'dd-MM-yy, hh:mm a'}}
                                </td>
                                <td >{{aws.modifiedDate | date: 'dd-MM-yy, hh:mm a'}}</td>
                                    <td>
                                    <a id="lnkEdit"
                                        (click)="edit(aws)" placement="top" ngbTooltip="Edit">
                                        <em><img src="assets/img/edit.svg" width="18" alt=""></em>
                                    </a> &nbsp;

                                    <a id="lnkDeleteFlow" (click)="delete(aws.id)" placement="top"
                                        ngbTooltip="Delete">
                                        <em><img src="assets/img/delete.svg" width="18" alt=""></em>
                                    </a>
                                </td>
                            </tr>
                            <tr style="background-color: white !important;"
                                *ngIf="(awsListData | filterBy: searchTerm).length == 0">
                                <td colspan="5">
                                    <div class="text-center s-div">
                                        <img src="assets/img/govern/no-search.svg">
                                        <p class="no-term">No data source found</p>
                                        <p class="term-2">Your search {{searchString}} did not match any folder name.
                                            Please try again .</p>
                                        <button type="button" class="btn saveBtn"
                                            (click)="clearSearhInput()">Clear to go back</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container  *ngIf="awsListData.length == 0">
        <div class="connect-source-div">
            <div class="card card-d mr-t-16">
                <div class="card-body">
                    <div class="connect-s text-center">
                        <img src="assets/img/govern/no-dq.svg" class="img-fluid">
                        <p class="tp1 wm">There arre no Valid Data Source Connections available.</p>
                        <p class="tp1 mr-b-24">Please create one!</p>
                        <a [routerLink]="['/projects', projectId, 'ingest', 'select-source-type']" class="btn btn-design mr-b-56">Create connection</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>