.gr-color {
    color: #00977C;
}

.btn:focus{
    outline: none;
    box-shadow: none;
}

::ng-deep {
    .modal-content {
        border-radius: 8px;
    } 
}

.connectionBtns {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    /* font-size: 18px; */
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #009C82;
}

.validBtn {
    background-color: #01B798;
    color: white;
}